@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edf0eb;
  width: 100%;
  height: 9vh;
  margin: 0;
  padding: 3.2rem 4rem;
  position: fixed;
  z-index: 10000;
  box-shadow: 0.1rem 0.1rem 2rem #0a0c190a;
}

.link {
  text-decoration: none;
  color: #0a0c19;
  font-size: 1.7rem;
  font-weight: 400;
}

.logo {
  font-family: "Permanent Marker", sans-serif;
  margin-left: 9rem;
  transform: scale(170%);
  display: flex;
  align-items: center;
}

.midNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.endNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-right: 5rem;
}

.signup {
  font-weight: 500;
}

.signupBtn {
  border: solid 1.5px #0a0c19;
  background-color: #eeca3a;
  padding: 1rem 2rem;
  border-radius: 15px;
  transition: all 0.3s;
}

.signupBtn:hover {
  transform: translate(-0.2rem, -0.2rem);
  box-shadow: 0.3rem 0.3rem #0a0c19;
}

.active {
  color: #eeca3a;
}

.hr {
  height: 4vh;
  width: 0.5px;
  background-color: #0a0c19;
}

@keyframes up-right {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.dot {
  border-radius: 1000%;
  width: 0.5rem;
  height: 0.5rem;
}

.yel {
  background-color: #eeca3a;
  position: absolute;
  animation: up-right 5s infinite;
  transform: translate(0.25rem, 1.2rem);
}

.smalldot {
  border-radius: 1000%;
  width: 6rem;
  height: 6rem;
  background-color: #eeca3a;
  position: absolute;
  left: 10rem;
  top: 0.4rem;
}

.gap {
  height: 8vh;
}

.checkout {
  margin-top: 0.2rem;
  transition: all 0.4s;
}

.checkout:hover {
  /* filter: invert(91%) sepia(69%) saturate(2614%) hue-rotate(327deg)
    brightness(100%) contrast(87%); */
  transform: scale(110%);
  transition: all 0.4s;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translate(1.2rem, -4rem);
  background-color: #a7171a;
  color: #edf0eb;
  font-size: 1.3rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 30px;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: translate(1.2rem, -4rem) scale(1);
  }
  10% {
    transform: translate(1.2rem, -4rem) scale(0.8);
  }
  30% {
    transform: translate(1.2rem, -4rem) scale(1.15);
  }
  50% {
    transform: translate(1.2rem, -4rem) scale(1.2);
  }
  100% {
    transform: translate(1.2rem, -4rem) scale(1);
  }
}

.button {
  border: none;
  cursor: pointer;
}

.hide {
  filter: opacity(0);
}
