.card {
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.081);
  width: 90%;
  overflow: hidden;
  margin-left: 1.2vw;
}

.card p {
  margin-left: 1.6rem;
  margin-bottom: 0.6rem;
}

.card p:last-child {
  margin-top: 0.6rem;
  margin-bottom: 1rem;
}

.light {
  color: #7777779b;
  font-weight: 400;
}

.image {
  transition: all 0.6s;
}

.image:hover {
  transform: scale(110%);
  transition: all 0.6s;
  overflow: hidden;
}

.imageLayout {
  overflow: hidden;
  width: 300px;
  height: 200px;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  padding-top: 1.6rem;
  padding-bottom: 1.2rem;
}

@media screen and (min-width: 90rem) {
  .card {
    width: 85%;
  }

  .frag {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 120rem) {
  .card {
    width: 65%;
  }
}
