.grid {
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 91.5vw;
  margin: 2rem auto;
  row-gap: 3rem;
  overflow: hidden;
  /* margin-right: 1rem; */
}

.cardItem {
  text-decoration: none;
  color: #0a0c19;
  padding: 0 !important;
  margin: 0 !important;
}

.paginate {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  cursor: pointer;
  margin-left: 2.4rem;
  margin-bottom: -3rem;
  margin-top: 9rem;
}

.active {
  background-color: #eeca3a !important;
  color: #edf0eb;
  padding: 0.4rem 1rem;
  border-radius: 50px;
}

.passive {
  padding: 0.4rem 1rem;
  border-radius: 50px;
  margin-bottom: 0.6rem;
}
