.order {
  padding: 1rem;
  width: 45vh;
}

.button {
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 2rem;
  padding-top: 0rem;
  width: 100%;
}

.header {
  font-size: 2.4rem;
}

.singleItem {
  display: grid;
  grid-template-columns: 1rem 12rem 4rem;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;
}

.itemQuantity {
  font-size: 2.2rem;
}

.singleItem {
  padding: 0.4rem 1.4rem 0.4rem 0;
}

.price {
  font-size: 2rem;
  margin: 0 !important;
  margin-top: 1.6rem !important;
}

.subtotal {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 !important;
  margin-top: 1.6rem !important;
}

.checkout {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  border: solid 1.5px #0a0c19;
  background-color: #eeca3a;
  padding: 1.4rem 3rem;
  border-radius: 30px;
  transition: all 0.3s;
  cursor: pointer;
}

.checkout:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.5rem #0a0c19;
  transition: all 0.3s;
}

.empty {
  font-size: 2.4rem;
  padding: 2rem;
}

.checkoutHeader {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 !important;
}
