.hero {
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #0a0c19;
  position: relative;
}

.upper {
  position: relative;
  width: 45vw;
  margin: auto;
  font-size: 2rem;
  margin-top: 15rem;
}

.header {
  font-size: 5rem;
}

.motto {
  text-align: center;
}

.image01 {
  position: absolute;
  top: 4rem;
  left: 24rem;
}

.image02 {
  position: absolute;
  top: 30rem;
  left: 108rem;
}

.bigdot {
  border-radius: 1000%;
  width: 15rem;
  height: 15rem;
  background-color: #0a0c19;
  position: absolute;
  top: 5rem;
  left: 120rem;
  opacity: 0.05;
}

.normaldot {
  border-radius: 1000%;
  width: 20rem;
  height: 20rem;
  background-color: #eeca3a;
  position: absolute;
  top: 50rem;
  left: 130rem;
  opacity: 0.5;
}

.normalcircle {
  border-radius: 1000%;
  width: 22.5rem;
  height: 22.5rem;
  background-color: transparent;
  border: solid #0a0c19 1px;
  position: absolute;
  top: 48.75rem;
  left: 128.75rem;
  opacity: 0.5;
}

.smalldot {
  border-radius: 1000%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #0a0c19;
  position: absolute;
  top: 50.3rem;
  left: 132.5rem;
}

.biggestdot {
  border-radius: 1000%;
  width: 25rem;
  height: 25rem;
  background-color: #0a0c19;
  position: absolute;
  top: 50rem;
  left: 5rem;
  opacity: 0.1;
}

.yellowdot {
  border-radius: 1000%;
  width: 45rem;
  height: 45rem;
  background-color: #eeca3a;
  position: absolute;
  top: 8%;
  left: 34%;
}

.lower {
  margin: 15rem 0 20rem 0;
}

.searchInput {
  font-size: 2rem;
  width: 40vw;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchItemDiv {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  gap: 1rem;
  font-weight: 500;
}
