.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.status {
  font-size: 2rem;
  width: 50vw;
  margin: 6rem auto 2rem;
}

.headerCheck {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  font-weight: 500;
}

.orderInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hr {
  border-top: solid 1px #0000006c;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemName {
  font-weight: 500;
}

.priceAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.checkmark {
  filter: invert(8%) sepia(98%) saturate(5216%) hue-rotate(160deg)
    brightness(94%) contrast(88%);
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceName {
  font-weight: 500;
}

.fee {
  font-weight: 400;
  color: #0a0c19c4;
}

.message {
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  color: #0a0c19;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  transform: translateX(5rem);
}
